all:
	cd @CMAKE_CURRENT_BINARY_DIR@ && riscof --verbose info arch-test --clone
	cd @CMAKE_CURRENT_BINARY_DIR@ && riscof --verbose info run --config ./config.ini --suite ./riscv-arch-test/riscv-test-suite/rv32i_m --env ./riscv-arch-test/riscv-test-suite/env
