all:
	cd @CMAKE_CURRENT_BINARY_DIR@ && riscof --verbose info arch-test --clone
	cd @CMAKE_CURRENT_BINARY_DIR@ && riscof --verbose info run --no-browser --config ./config.ini --suite ./riscv-arch-test/riscv-test-suite/@CMAKE_RISCOF_ARCHITECTURE@ --env ./riscv-arch-test/riscv-test-suite/env
