[submodule "cmake/BSV"]
	path = cmake/BSV
	url = git@github.com:Pretty-Good-RISC-V/BSV-cmake.git
[submodule "cmake/pgrv-cmake"]
	path = cmake/pgrv-cmake
	url = git@github.com:Pretty-Good-RISC-V/PGRV-cmake.git
